@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color: #fdf8ff;
	color: rgb(24, 24, 24);
	font-family: 'Muli', sans-serif;
	min-height: 100vh;
}
.img{
    height: 4rem;
    padding: 0.4rem;
}
header{
    display: flex;
    justify-content: space-between;
    width:100%;
}
.head{
    margin-top: 0rem;
}
.tabs-container{
    padding: 0.7rem;
}

.tab{
    border: none;
    color: rgb(124, 0, 173);
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0.3rem;
    margin-right:1rem;
    background-color:transparent;
    font-family: Poppins;
    cursor: pointer;
}
.tab:focus{
    color: black;
    padding-bottom: 0.3rem;
    border-bottom: 3px solid rgb(96, 0, 121);
}
li{
    padding: 0.8rem;
    list-style-type:none;
    cursor: pointer;
}
li:hover{
    background-color: #ececec;
}
.pop-up{
    position: fixed;
    right:6%;
    background-color: #ffffff;
    width: 14rem;
    border-radius: 0.7rem;
    box-shadow: 0px 2px 10px 3px rgba(78, 74, 74, 0.2);
    z-index: 999;
    overflow: hidden;
    display: none;
}
@media (min-width:800px){
    .pop-up{
        display:none;
    }
    
}

.visible{
    display: block;
}
.fa-bars{
    font-size: 2rem;
    margin: 0.8rem;
    cursor: pointer;
}
@media (max-width:800px) {
    .tab{
        display:none;
    }
}
@media (min-width:800px) {
    .fa-bars{
        display:none;
    }
}

#length{
 border-radius: 0.2rem;
 border: 2px solid rgb(163, 52, 148);
 padding: 0.3rem 0;
 padding-left: 0.5rem;
}

p {
	margin: 5px 0;
}

h2 {
	margin: 10px 0 20px;
	text-align: center;
}

input[type=checkbox] {
	margin-right: 0;
}

.container {
    margin: auto;
	background-color: #ffffff;
	box-shadow: 0px 2px 10px 3px rgba(78, 74, 74, 0.2);
	padding: 20px;
	width: 350px;
	max-width: 100%;
    border-radius: 1.2rem;
    margin-top: 2rem;
    display:block;
}
.visible1{
    display: none;
}
.result-container {
	background-color: rgba(179, 179, 179, 0.4);
	display: flex;
    border-radius: 0.4rem;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	font-size: 18px;
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	width: 100%;
}

.result-container #result {
  	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #823b98;
    border-radius: 0.4rem;
    margin-bottom: 0.5rem;
}
.btn:active{
    background-color: #703083;
}

.btn-large {
	display: block;
	width: 100%;
}

.setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 25px 0;
    font-size: 1.1rem;
}

@media screen and (max-width: 800px) {
	.result-container {
		font-size: 14px;
	}
    .foot-text{
    font-size: 1.1rem;
    text-align: center;
   }
   .social-links{
       margin-top: 5rem;
   }
   .valid-container {
	width: 350px;
}
}

/* SOCIAL PANEL CSS */



@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container11{
  background: #fff;
  padding: 20px 30px;
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 10rem auto;
}
.container11 header{
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}
.container11 form{
  margin: 20px 5px 10px 5px;
  position: relative;
}
.container11 form .field{
  height: 45px;
  width: 100%;
  display: flex;
  position: relative;
}
form .field input{
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  padding-left: 15px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
  transition: all 0.3s;
}
form .field input:focus{
  border-color: #27ae60;
  box-shadow: inset 0 0 3px #2fd072;
}
form .field .showBtn{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  display: none;
  user-select: none;
}
form .indicator{
  height: 10px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}
form .indicator span{
  position: relative;
  height: 100%;
  width: 100%;
  background: lightgrey;
  border-radius: 5px;
}
form .indicator span:nth-child(2){
  margin: 0 3px;
}
form .indicator span.active:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}
.indicator span.weak:before{
  background-color: #ff4757;
}
.indicator span.medium:before{
  background-color: orange;
}
.indicator span.strong:before{
  background-color: #23ad5c;
}
form .text{
  font-size: 20px;
  font-weight: 500;
  display: none;
  margin-bottom: -10px;
}
form .text.weak{
  color: #ff4757;
}
form .text.medium{
  color: orange;
}
form .text.strong{
  color: #23ad5c;
}
.pass-msg{
    color: grey;
    margin: 0.5rem 0 2rem 0;
    font-size: 0.9rem;
}



@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}



.valid-container {
	background-color: #fff;
	border-radius: 1.2rem;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
    margin: auto;
}

.valid-header {
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}

.valid-header h2 {
	margin: 0;
}

.form {
	padding: 30px 40px;	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label {
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input {
	border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-family: inherit;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
	background-color: #8e44ad;
	border: 2px solid #8e44ad;
	border-radius: 10px;
	color: #fff;
	display: block;
	font-family: inherit;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 100%;
    cursor: pointer;
}
.form button:active{
    background-color: #542269;
	border: 2px solid #8e44ad;
}


.social-links{
    display: flex;
    justify-content: center;
}
a{
    margin:1rem;
    margin-bottom: 0rem;
    text-shadow: 1px  1px rgb(255, 129, 129);
}
.foot-text{
    margin-top: 0;
}
.warning{
    margin-top: -5rem;
}
.warning-msg{
    background-color: #8237a1;
    color: white;
    padding: 0.7rem;
    margin: auto;
    text-align: center;
    width:70%;
    border-radius: 1rem;
}
@media screen and (max-width: 800px) {
	.result-container {
		font-size: 14px;
	}
    .foot-text{
    font-size: 1.1rem;
    text-align: center;
   }
   .social-links{
       margin-top: 5rem;
   }
   .valid-container {
	width: 350px;
 }
 .container11{
  padding: 20px 30px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 6rem auto;
}
.img{
    height: 2.5rem;
    margin: 0.8rem;
    margin-left: 0;
    margin-top: 1rem;
    padding: 0;
}
}